<style>
h1 {
        font-family: cursive;
        color: blue;
        text-align: center;
    }
    
    h3 {
        font-family: sans-serif;
        color: #66CCFF;
    }
    
    p {
        font-family: sans-serif;
        text-align: center;
    }
    
    ol {
        font-family: sans-serif;
    }
    
        header {
            text-align: center;
            width: 1000px;  
        }


body {
  text-align: center;
  background-color: whitesmoke;
}

#contact {
        height: auto;
        width: auto;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
#faq {
    background-color: whitesmoke;
    font-size: 14pt;
    color: gray;
}

</style>